<section id="rebates" class="section">
  <div class="wrap">
    <div class="feature">
      <div class="copy"><h2>E-Bike Incentive Programs</h2><p>By providing targeted incentives that directly improve personal transportation, we help make e-bike ownership more attainable. E-bike technology is transforming mobility, but for many, the upfront cost—especially for safety-compliant models from local bike shops—is just out of reach. Through partnerships with cities, states, community groups, and philanthropic organizations, we offer point-of-sale rebates that make e-bikes more affordable and accessible.</p><p>Learn more about our e-bike incentive work by clicking the button below</p><a class="btn" href="https://www.sharedmobility.org/e-bike-rebates">Learn More Here</a></div>
      <div class="media"><img src="https://static.wixstatic.com/media/a78fb0_d5f72fd8b5584ea0a3a080a16f6bf7df~mv2.jpg/v1/crop/x_0,y_123,w_664,h_666/fill/w_860,h_760,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/FirstNYSEBIPRecipient.jpg" alt="FirstNYSEBIPRecipient.jpg"></div>
    </div>
    <div id="libraries" class="feature reverse">
      <div class="copy"><h2>E-bike Libraries</h2><p>We are partnered with local community-based organizations around the country to launch community-controlled transportation options that are completely free to use. E-Bike Libraries provide access to pedal assist e-bikes through programming models designed by and for marginalized communities.</p><p>Learn more about our E-Bike Library work by clicking the button below</p><a class="btn" href="https://www.sharedmobility.org/ebike-libraries">Learn More Here</a></div>
      <div class="media"><img src="https://static.wixstatic.com/media/d099e1_75dff057299e4d5297551d83a0d588fc~mv2.jpg/v1/crop/x_0,y_422,w_3376,h_3376/fill/w_860,h_760,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/e-bike-2021.jpg" alt="e-bike-2021.jpg"></div>
    </div>
  </div>
</section>
