<section class="hero hero-toole">
  <div class="wrap hero-toole-content">
    <h1>We believe that affordable, accessible, and equitable mobility is a human right</h1>
    <p>We strive everyday to help build innovative shared transportation programs with local partners across the country that help uplift the communities they serve. We believe that streets, paths, and sidewalks should make it easy for people to safely experience and enjoy places, not simply pass them by.</p>
    <a class="hero-toole-btn" href="#what-we-do">Learn More About Us</a>
  </div>
</section>
